<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wait</title>
    <link id="css" th:href="@{/css/expo.css}" rel="stylesheet"/>
</head>
<body>
<div class="write">
    <h1>Great news!!!!!</h1>
    <h1>exposition:</h1>
    <h1>14 juillet 2023</h1>
    <h1>Calle Lagunillas 53, 29000 Málaga</h1>
    <h1>l'affiche arrive</h1>
</div>
<div>
    <a th:href="@{https://www.lapolivalente.com/}" class="btn-flip" data-back="infos" data-front="La Polyvalente" ></a>
</div>
<div class="write">
    <h1>pour plus d'infos</h1>
    <h1>envoyez un mail à :</h1>
    <h1>mandrille84@gmail.com</h1>
    <h1>merci pour votre compréhension</h1>
</div>
</div>
<div>
    <a th:href="@{/}" class="btn-flip" data-back="main" data-front="Back to" ></a>
</div>
</body>
</html>