<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wait</title>
    <link id="css" th:href="@{/css/expo.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <a th:href="@{https://www.lapolivalente.com/}" class="btn-flip" data-back="infos" data-front="La Polyvalente" ></a>
</div>
</div>
<img class="head_img" src="../static/images/expo14.jpg" width="500"
     th:src="@{images/expo14.jpg}"/>
</div>
</div>
<div>
    <a th:href="@{/}" class="btn-flip" data-back="main" data-front="Back to" ></a>
</div>
</body>
</html>