<!DOCTYPE html >
<html lang="en," xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<title>Title</title>

<link id="css" th:href="@{/css/main.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<header>
    <div id="wrapper">
        <div class="content">
            <div class="d7">
                <div class="d1"></div>
                <div class="d2">
                    <div class="d3"></div>
                </div>
                <div class="d4">
                    <div class="d5"></div>
                </div>
                <div class="d6"></div>
            </div>
            <h1 class="chrome">Mandrille84</h1>
            <h3 class="dreams">art</h3>
            <div class="circle">
            </div>
            <div class="mandrille">
                <h1>
                    <span></span><br/><span></span><br/><span><span>Mandrille84</span></span><br/><span>art</span><br/><span></span>
                </h1>
            </div>
            <!--Established locale country: <span th:text="${#locale.country}">US</span></div>-->
            <section>
                <div class="background-img">
                    <div class="box">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content">
                        </div>
                        <img class="head_img" src="../static/images/caliostro.jpeg" width="500"
                             th:src="@{images/caliostro.jpeg}"/>
                    </div>
                </div>
            </section>

            <div>
                <a href="#" class="btn-now" data-back="1984" data-front="return to" onclick=style84()></a>
                <a href="#" class="btn-flip" data-back="the future" data-front="Back to" onclick=styleNow()></a>
            </div>
        </div>
</header>
<body>
<nav>
    <ul>
        <li class="menu-deroulant">
            <a href="#">Réalisations </a>
            <ul class="sous-menu">
                <li><a th:href="@{/paint}">Peintures</a></li>
                <li><a th:href="@{/illustration}">Illustrations</a></li>
                <li><a th:href="@{/wallpaint}">Fresques</a></li>
                <li><a th:href="@{/wait}">sneaker custom</a></li>
            </ul>
        </li>
        <li class="menu-deroulant">
            <a href="#">Evénements</a>
            <ul class="sous-menu">
                <li><a th:href="@{/contact}">Soirées</a></li>
                <li><a th:href="@{/contact}">Exposition</a></li>
            </ul>
        </li>
        <li><a th:href="@{/wait}">À propos</a></li>
        <li><a th:href="@{/contact}">Contactez</a></li>
    </ul>
</nav>
<div >
    <img class="main_img" src="../static/images/dandara.jpeg" width="500" th:src="@{images/dandara.jpeg}"/>
</div>

<ul class="social">
    <li>
        <a href="https://www.facebook.com/profile.php?id=100007017644894"><i class="fab fa-facebook"></i>
        </a></li>
    <li><a href="https://www.instagram.com/mandrille84/"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/mandrille-quatrevingtquatre-01b778221/"><i class="fab fa-linkedin-in"></i></a>
    </li>
    </li>
    </span>
</ul>


</body>
</html>

