<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paint</title>
    <link id="css" rel="stylesheet" th:href="@{/css/paint.css}"/>
</head>
<body>
<section>
    <div class="container">
        <div>
            <a th:href="@{/}" class="btn-flip" data-back="main" data-front="Back to" ></a>
        </div>
        <div class="carousel">
            <input checked="checked" id="slide-1" name="slides" type="radio">
            <input id="slide-2" name="slides" type="radio">
            <input id="slide-3" name="slides" type="radio">
            <input id="slide-4" name="slides" type="radio">
            <input id="slide-5" name="slides" type="radio">
            <input id="slide-6" name="slides" type="radio">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="head_img" src="../static/images/al.jpeg"
                                 th:src="@{images/al.jpeg}"/></div>
                        <figcaption>
                            AL
                            <span class="credit">Painter: Mandrille84</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="head_img" src="../static/images/Anéva.jpeg"
                                 th:src="@{images/Anéva.jpeg}"/></div>
                        <figcaption>
                            Anéva
                            <span class="credit">Painter: Mandrille84</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="head_img" src="../static/images/dandara.jpeg"
                                 th:src="@{images/dandara.jpeg}"/></div>
                        <figcaption>
                            Dreams
                            <span class="credit">Painter: Mandrille84</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="head_img" src="../static/images/tiger.jpeg"
                                 th:src="@{images/tiger.jpeg}"/></div>
                        <figcaption>
                            Nature
                            <span class="credit">Painter: Mandrille84</span>
                        </figcaption>
                    </figure>
                </li>
                <!-- <li class="carousel__slide">
                     <figure>
                         <div>
                             <img class="head_img" src="../static/images/queens.jpeg"
                                  th:src="@{images/queens.jpeg}"/></div>
                         <figcaption>
                             Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             <span class="credit">Photo: Rosan Harmens</span>
                         </figcaption>
                     </figure>
                 </li>
                 <li class="carousel__slide">
                     <figure>
                         <div>
                             <img class="head_img" src="../static/images/queens.jpegjpeg"
                                  th:src="@{images/queens.jpegjpeg}"/></div>
                         <figcaption>
                             Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             <span class="credit">Photo: Annie Spratt</span>
                         </figcaption>
                     </figure>
                 </li>-->
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img alt="" src="../static/images/al.jpeg"
                                              th:src="@{images/al.jpeg}"></label>
                </li>
                <li>
                    <label for="slide-2"><img alt="" src="../static/images/Anéva.jpeg"
                                              th:src="@{images/Anéva.jpeg}"></label>
                </li>
                <li>
                    <label for="slide-3"><img alt="" src="../static/images/dandara.jpeg"
                                              th:src="@{images/dandara.jpeg}"></label>
                </li>
                <li>
                    <label for="slide-4"><img alt="" src="../static/images/tiger.jpeg"
                                              th:src="@{images/tiger.jpeg}"></label>
                </li>
                <!--  <li>
                     <label for="slide-5"><img alt="" src="../static/images/queens.jpeg" th:src="@{images/queens.jpeg}"></label>
                 </li>
                 <li>
                     <label for="slide-6"><img alt="" src="../static/imagesqueens.jpeg"
                                               th:src="@{images/queens.jpeg}"></label>
                 </li>-->
            </ul>
        </div>
    </div>

</section>

</body>
</html>