
/* General page styling */
html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5DC;
}

h1 {
    text-underline-color: black;
    color: black;
    text-transform: uppercase;
    font-family: Damascus;
}

p{
    text-underline-color: white;
    color: white;
    text-transform: uppercase;
    font-family: Damascus;
}

h2 {
    text-underline-color: white;
    color: white;
    text-transform: uppercase;
    font-family: Damascus;
}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #0509fe, 0 0 0.3em #05fe72;
}
.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #58585e;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}
.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}
