:root{
    --hauteur-menu: 60px;
    --hauteur-menu: 60px;
    --peach: #ffad69;
    --white: #ffffff;
    --black: #000;
    --grey : #936087;
    --facebook: #3b5999;
    --twitter: #55acee;
    --instagram: #dc2279;
    --apple: #073f75;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li:hover > a{
    color: #2169EC;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    color: skyblue;

}
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.4s linear forwards;
}

@keyframes rotationFleche {
    0% {

        transform: rotate(0deg);
    }
    50% {
        content: '❯❯';
        transform: rotate(45deg);
        color: cornflowerblue;
    }
    100%{
        content: '❯❯❯';
        transform: rotate(90deg);
        color: blue;

    }
}
.main_img{
    position: center;
    top: auto;
    left: 105px;
    height: 480px;
    width: 320px;
    color: WHITE;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    font-size: 26px;
    text-transform: capitalize;
    animation: time_animation;
    animation-duration: 2s;
    overflow: hidden;
    z-index: 9;
}

.head_img{
    width:100%;
}

@keyframes time_animation {

    0% {opacity:0.0;}
    16% {opacity:0.0;}
    25% {opacity:0.0;}
    33% {opacity:0.0;}
    67% {opacity:0.0;}
    75% {opacity:0.0;}
    84% {opacity:0.5;}
    100% {opacity:1.0;}

}


.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: white;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
        border-top: 3px solid #2169EC;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #0509fe, 0 0 0.3em #05fe72;
}
.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #58585e;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}
.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}


.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
}

.sous-menu > li:hover > a {
    color: white;
}





.background-img{

    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    position: relative;
}

.content h2{ font-size:19px;}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #111845a6;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}

.box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
}


.box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 134%;
    display: block;
    box-sizing: border-box;

}

.box span:nth-child(1)
{
    transform:rotate(0deg);
}

.box span:nth-child(2)
{
    transform:rotate(90deg);
}

.box span:nth-child(3)
{
    transform:rotate(180deg);
}

.box span:nth-child(4)
{
    transform:rotate(270deg);
}

.box span:before
{
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1%
    {
        transform:scaleX(1);
        transform-origin: right;

    }

    100%
    {
        transform:scaleX(0);
        transform-origin: right;

    }


}

/*style header*/

@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);


body { background: #000; color: #000000; position: relative;}

.chrome {
    position: relative;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-size: 200px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
}

.chrome:before {
    content: 'Mandrille84';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-position:-680px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    -webkit-animation-name: chrome_effect;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.dreams {
    position: absolute;
    font-size: 160px;
    margin-left: 620px;
    margin-top: -120px;
    z-index: 20;
    font-family: 'Mr Dafoe';
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    transform: rotate(-7deg);
}

.windows .dreams {
    -webkit-text-stroke: 4px #f008b7;
}
@-webkit-keyframes chrome_effect {
    0% {background-position:-680px 0;}
    10% {background-position:420px 0;}
    100% {background-position:420px 0;}
}



.social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 35rem;
}

.social li {
    list-style: none;
    margin: 0 40px;
}

.social li a .fab{
    font-size: 40px;
    color: rgb(0, 244, 255);
    line-height: 80px;
    transition: .5s;
}

.social li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #7720a8;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -30px 30px 10px rgba(11, 214, 223, 0.5);
}

.social li a:before {
    content: '';
    position: absolute;
    top: 10px ;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #673a69;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.social li a:after {
    content: '';
    position: absolute;
    bottom: -20px ;
    left: -10px;
    height: 20px;
    width: 100%;
    background: var(--grey);
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.social li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}
.social li:hover .fab{
    color:white;
}


.social li:hover:nth-child(1) a {
    background: var(--facebook);
}

.social li:hover:nth-child(1) a:before {
    background: #5E77AB;
}

.social li:hover:nth-child(1) a:after {
    background: #4C68A2;
}

.social li:hover:nth-child(3) a {
    background: var(--twitter);
}

.social li:hover:nth-child(3) a:before {
    background: #64B2EE;
}

.social li:hover:nth-child(3) a:after{
    background: #73BAF0;
}


.social li:hover:nth-child(2) a {
    background: var(--instagram);
}

.social li:hover:nth-child(2) a:before {
    background: #E4506B;
}

.social li:hover:nth-child(2) a:after{
    background: #E7617A;
}

.social li:hover:nth-child(4) a {
    background: var(--apple);
}

.social li:hover:nth-child(4) a:before {
    background: #0d5393;
}

.social li:hover:nth-child(4) a:after{
    background: #0f4b88;
}
@media (max-width: 600px) {
    .chrome {
        position: relative;
        background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px #f5f5f5;
        font-size: 400%;
        font-family: 'Titillium Web', sans-serif;
        font-style: italic;
        margin: 0;
        line-height: 1;
    }
    .dreams {
        position: absolute;
        font-size: 460%;
        margin-left: 20%;
        margin-top: -1%;
        z-index: 20;
        font-family: 'Mr Dafoe';
        color: white;
        text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
        transform: rotate(
                -7deg);
        /* align-items: center; */
    }
    .main_img {
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
        box-shadow: 20px 20px rgba(0, 0, 0, .15);
        transition: all .4s ease;
        margin-left: 6%;
    }

    span:nth-child(1), span:nth-child(9), span:nth-child(5) {
        font-size: 1.4em;
        text-align: center;
    }

    nav {
        width: 100%;
        font-size: 87%;
        position: sticky;
        top: 0;
    }

    nav > ul > li {
        background-color: white;
        position: relative;
        height: 100%;
        flex: 1;
    }


    * {
        margin: 0px;
        padding: 0px;
        font-family: Montserrat, sans-serif;
    }

    nav ul {
        list-style-type: none;
    }

    nav > ul {
        text-align: center;
    }

    nav {
        font-size: 87%;
    }

    menu-deroulant > a::after {
        content: '❯';
        font-size: 100%;
        margin-left: 12%;
        display: inline-block;
        color: skyblue;
    }

    h3 {
        font-size: 0px;

    }

    nav > ul > li > a {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-40%, -5%);
    }

    .menu-deroulant > a::after {
        content: '❯';
        font-size: 75%;
        margin-left: 7%;
        display: inline-block;
        color: skyblue;
    }

    .social li a::after {

        content: '';
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        background: var(--grey);
        transition: .5s;
        transform: rotate(0deg) skewX(-45deg);

    }

    .social li a::before {

        content: '';
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        background: #673a69;
        transition: .5s;
        transform: rotate(0deg) skewY(-45deg);

    }

    élément {

    }

    .social li a {

        position: relative;
        display: block;
        width: 100%;
        height: 80px;
        background: #7720a8;
        text-align: center;
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
        transition: .5s;
        box-shadow: -30px 30px 10px rgba(11, 214, 223, 0.5);
    }

    .social li {
        list-style: none;
        margin: 12%;
        margin-left: 20%;
    }

    .social {
        position: absolute;
        top: 50%;
        left: 22%;
        transform: translate(-50%, -50%);
        margin: 0;
        margin-top: 0px;
        padding: 0;
        display: flex;
        margin-top: 33rem;
    }

    header::after {
        content: "";
        width: 66%;
        height: 100px;
        position: absolute;
        opacity: 15%;
        left: 0%;
        top: -340px;
        transform: rotate(5deg);
        background: linear-gradient(to right, rgba(206, 188, 155, .7) 0%, rgba(42, 31, 25, 0) 65%);
    }
}
