:root {
    --hauteur-menu: 60px;
    --peach: #ffad69;
    --white: #ffffff;
    --black: #000;
    --grey : #936087;
    --facebook: #3b5999;
    --twitter: #55acee;
    --instagram: #dc2279;
    --apple: #073f75;

}

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}
.mandrille{
    margin-bottom: 8.1%;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li:hover > a {
    color: #2169EC;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a:after {
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    color: skyblue;

}

.menu-deroulant:hover > a:after {
    animation: rotationFleche 0.4s linear forwards;
}

@keyframes rotationFleche {
    0% {

        transform: rotate(0deg);
    }
    50% {
        content: '❯❯';
        transform: rotate(45deg);
        color: cornflowerblue;
    }
    100% {
        content: '❯❯❯';
        transform: rotate(90deg);
        color: blue;

    }
}

.main_img {
    position: center;
    top: auto;
    left: 105px;
    height: 480px;
    width: 320px;
    color: WHITE;
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
    font-size: 26px;
    text-transform: capitalize;
    animation: time_animation;
    animation-duration: 2s;
    overflow: hidden;
    z-index: 9;
}

.head_img {
    width: 100%;
}

@keyframes time_animation {

    0% {
        opacity: 0.0;
    }
    16% {
        opacity: 0.0;
    }
    25% {
        opacity: 0.0;
    }
    33% {
        opacity: 0.0;
    }
    67% {
        opacity: 0.0;
    }
    75% {
        opacity: 0.0;
    }
    84% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }

}


.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: white;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #2169EC;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
    100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
}

.sous-menu > li:hover > a {
    color: white;
}


.background-img {

    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding: 20px;
    position: relative;
}

.content h2 {
    font-size: 19px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #111845a6;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
}

.box:hover:before {
    left: -50%;
    transform: skewX(-5deg);
}


.box .content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #f0a591;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);

}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 134%;
    display: block;
    box-sizing: border-box;

}

.box span:nth-child(1) {
    transform: rotate(0deg);
}

.box span:nth-child(2) {
    transform: rotate(90deg);
}

.box span:nth-child(3) {
    transform: rotate(180deg);
}

.box span:nth-child(4) {
    transform: rotate(270deg);
}

.box span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;

    }

    100% {
        transform: scaleX(0);
        transform-origin: right;

    }


}


h3 {
    width: 100%;
    margin: 0 auto 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

/*
============
	Light
============
*/
header::after {
    content: "";
    width: 26%;
    height: 600px;
    position: absolute;
    opacity: 50%;
    top: -340px;
    left: 30%;
    transform: rotate(55deg);
    background: rgba(206, 188, 155, .7);
    background: -moz-linear-gradient(left, rgba(206, 188, 155, .7) 0%, rgba(42, 31, 25, 0) 65%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206, 188, 155, .7)), color-stop(65%, rgba(42, 31, 25, 0)));
    background: -webkit-linear-gradient(left, rgba(206, 188, 155, .7) 0%, rgba(42, 31, 25, 0) 65%);
    background: -o-linear-gradient(left, rgba(206, 188, 155, .7) 0%, rgba(42, 31, 25, 0) 65%);
    background: -ms-linear-gradient(left, rgba(206, 188, 155, .7) 0%, rgba(42, 31, 25, 0) 65%);
    background: linear-gradient(to right, rgba(206, 188, 155, .7) 0%, rgba(42, 31, 25, 0) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=0.7);
);
}


/*
========================
			3D Effect
========================
*/
#text3d {

}


.btn-now {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-now:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.btn-now:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.btn-now:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}

.btn-now:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}

@import url(https://fonts.googleapis.com/css?family=Lobster);

.circle {
    margin: auto;
    height: 300px;
    max-width: 300px;
    border-radius: 100%;
    background: #523a69;
    animation-name: couleur;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #D5E2D6;
    text-align: center;
    line-height: 50px;
    margin-top: -240px;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    /*-----------------------*/
    text-shadow: 1px 1px #cda7f0, 2px 2px #847295, 3px 3px #8957b9, 4px 4px #a687c4, 5px 5px #8b59bb, 6px 6px, 7px 7px #523a69, 8px 8px #523a69, 9px 9px #523a69, 10px 10px #523a69, 11px 11px #523a69, 12px 12px #523a69, 13px 13px #523a69, 14px 14px #523a69, 15px 15px #523a69, 16px 16px #523a69, 17px 17px #523a69, 18px 18px #523a69, 19px 19px #523a69, 20px 20px #523a69, 21px 21px #523a69, 22px 22px #523a69, 23px 23px #523a69, 24px 24px #523a69, 25px 25px #523a69, 26px 26px 6px #06520C;

}

span:nth-child(3), span:nth-child(7) {
    font-size: 60px;
}

span:nth-child(1), span:nth-child(9), span:nth-child(5) {
    font-size: 110px;
}

/*--------taches---------------*/


.d1, .d2, .d3, .d4 {
    background-color: white;;
    margin: 0 auto 70px auto;
    margin-left: auto;
    border: 1px solid white;
    box-sizing: border-box;
    animation-name: taille;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.6, -0.28, .74, .05);
    animation-iteration-count: 2;
    border-radius: 60%;
}

.d1 {
    animation-direction: alternate;
    margin-bottom: -80px;
    margin-left: 550px;
    height: 155px;
}

.d2 {
    nimation-direction: alternate;
    margin-left: 500px;
    height: 200px;
    margin-bottom: -300px;
}

.d3 {
    animation-direction: alternate;
    margin-top: 115px;
    margin-left: 128px;
    height: 150px;
}

.d4 {
    animation-direction: alternate;
    margin-left: 408px;
    height: 70px;
    margin-bottom: 4px;
}


.d5 {
    animation-name: taille2;
    animation-direction: alternate;
    margin-top: 115px;
    margin-left: -150px;
    height: 45px;
    background-color: white;
    border: 1px solid white;
    box-sizing: border-box;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.6, -0.28, .74, .05);
    animation-iteration-count: 2;
    border-radius: 60%;
}

.d7 {
    margin-bottom: -290px;
}


@keyframes taille {
    from {
        width: 10%;
        background-color: white;
        border: 1px solid white;
    }
    25% {
        width: 45%;
        background-color: #523a69;
        border: 1px solid #523a69;
    }
    25% {
        width: 45%;
        background-color: #693a55;
        border: 1px solid #693a55;
    }
    50% {
        width: 45%;
        background-color: #693a5e;
        border: 1px solid #693a5e;
    }
    75% {
        width: 45%;
        background-color: #523a69;
        border: 1px solid #523a69;
    }
    to {
        width: 35%;
        background-color: white;
        border: 1px solid white;
    }
}

@keyframes taille {
    from {
        width: 10%;
        background-color: white;
        border: 1px solid white;
    }
    25% {
        width: 45%;
        background-color: #523a69;
        border: 1px solid #523a69;
    }
    25% {
        width: 45%;
        background-color: #693a55;
        border: 1px solid #693a55;
    }
    50% {
        width: 45%;
        background-color: #693a5e;
        border: 1px solid #693a5e;
    }
    75% {
        width: 45%;
        background-color: #523a69;
        border: 1px solid #523a69;
    }
    to {
        width: 35%;
        background-color: white;
        border: 1px solid white;
    }
}

@keyframes couleur {
    from {
        background-color: #523a69;
    }
    25% {
        background-color: #523a69;
    }
    25% {
        background-color: #693a55;
    }
    50% {
        background-color: #693a5e;
    }
    75% {
        background-color: #523a69;
    }
    to {
        background-color: #523a69;
    }
}

@keyframes taille2 {
    from {
        width: 5%;
        background-color: white;
        border: 1px solid white;
    }
    25% {
        width: 10%;
        background-color: #523a69;
        border: 1px solid #523a69;
    }
    25% {
        width: 15%;
        background-color: #693a55;
        border: 1px solid #693a55;
    }
    50% {
        width: 20%;
        background-color: #693a5e;
        border: 1px solid #693a5e;
    }
    75% {
        width: 25%;
        background-color: #523a69;
        border: 1px solid #523a69;
    }
    to {
        width: 30%;
        background-color: white;
        border: 1px solid white;
    }
}


.social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 50%;
}

.social li {
    list-style: none;
    margin: 0 40px;
}

.social li a .fab{
    font-size: 40px;
    color: rgb(0, 244, 255);
    line-height: 80px;
    transition: .5s;
}

.social li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #7720a8;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -30px 30px 10px rgba(11, 214, 223, 0.5);
}

.social li a:before {
    content: '';
    position: absolute;
    top: 10px ;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #673a69;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.social li a:after {
    content: '';
    position: absolute;
    bottom: -20px ;
    left: -10px;
    height: 20px;
    width: 100%;
    background: var(--grey);
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.social li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}
.social li:hover .fab{
    color:white;
}


.social li:hover:nth-child(1) a {
    background: var(--facebook);
}

.social li:hover:nth-child(1) a:before {
    background: #5E77AB;
}

.social li:hover:nth-child(1) a:after {
    background: #4C68A2;
}

.social li:hover:nth-child(3) a {
    background: var(--twitter);
}

.social li:hover:nth-child(3) a:before {
    background: #64B2EE;
}

.social li:hover:nth-child(3) a:after{
    background: #73BAF0;
}


.social li:hover:nth-child(2) a {
    background: var(--instagram);
}

.social li:hover:nth-child(2) a:before {
    background: #E4506B;
}

.social li:hover:nth-child(2) a:after{
    background: #E7617A;
}

.social li:hover:nth-child(4) a {
    background: var(--apple);
}

.social li:hover:nth-child(4) a:before {
    background: #0d5393;
}

.social li:hover:nth-child(4) a:after{
    background: #0f4b88;
}




.main_img {
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
.main_img:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}


