span {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: lowercase;
    color: blue;
}

 header {
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}

.bouton_moncv {
    border: #222538;
    background-color: #222538;
    margin-top: 150px;
    align-items: center;
    color: aliceblue;
}

nav {
    width: 100%;
    background-color:royalblue;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

nav>ul {
    margin: 0px;
    padding: 0px;
}

nav>ul>li ::after {
    content: "";
    display: block;
    clear: both;
}

nav>ul>li {
    float: left;
    position: relative;
}

nav>ul>li>a {
    display: inline-block;
    padding: 20px 30px;
    color: honeydew;
}

nav li {
    list-style-type: none;
}

.submenu1 {
    display: none;
}

.submenu2 {
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: honeydew;
}

nav :hover .submenu1 {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

nav :hover .submenu2 {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.submenu li {
    border-bottom: 1px solid grey;
}

.submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    color: white;
    width: 270px;
}

.menu_réalisation:hover {
    border-top: 5px solid red;
    background-color: cornflowerblue;
}

.menu_contact:hover {
    border-top: 5px solid rgb(255, 153, 0);
    background-color: dodgerblue;
}