:root{
    --hauteur-menu: 60px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li:hover > a{
    color: #2169EC;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    color: skyblue;

}
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.4s linear forwards;
}

@keyframes rotationFleche {
    0% {

        transform: rotate(0deg);
    }
    50% {
        content: '❯❯';
        transform: rotate(45deg);
        color: cornflowerblue;
    }
    100%{
        content: '❯❯❯';
        transform: rotate(90deg);
        color: blue;

    }
}
.main_img{
    position: center;
    top: auto;
    left: 105px;
    height: 480px;
    width: 320px;
    color: WHITE;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    font-size: 26px;
    text-transform: capitalize;
    animation: time_animation;
    animation-duration: 2s;
    overflow: hidden;
    z-index: 9;
}

.head_img{
    width:100%;
}

@keyframes time_animation {

    0% {opacity:0.0;}
    16% {opacity:0.0;}
    25% {opacity:0.0;}
    33% {opacity:0.0;}
    67% {opacity:0.0;}
    75% {opacity:0.0;}
    84% {opacity:0.5;}
    100% {opacity:1.0;}

}


.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: white;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
        border-top: 3px solid #2169EC;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}

.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
}

.sous-menu > li:hover > a {
    color: white;
}





.background-img{

    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    position: relative;
}

.content h2{ font-size:19px;}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #111845a6;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}

.box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
}


.box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 134%;
    display: block;
    box-sizing: border-box;

}

.box span:nth-child(1)
{
    transform:rotate(0deg);
}

.box span:nth-child(2)
{
    transform:rotate(90deg);
}

.box span:nth-child(3)
{
    transform:rotate(180deg);
}

.box span:nth-child(4)
{
    transform:rotate(270deg);
}

.box span:before
{
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1%
    {
        transform:scaleX(1);
        transform-origin: right;

    }

    100%
    {
        transform:scaleX(0);
        transform-origin: right;

    }


}


h1 {
    width: 100%;
    margin: 0 auto 0 auto;
    font-size: 4rem;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: #000000;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 18px;
    text-shadow: 1px 0 0 #68686b;
}


h3 {
    width: 100%;
    margin: 0 auto 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

/*
============
	Light
============
*/
h1::before {
    content:"";
    width: 100%;
    height: 750px;
    position: absolute;
    opacity: 50%;
    top: -200px;
    left: 10px;
    transform: rotate(55deg);
    background: rgba(206,188,155,.7);
    background: -moz-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,188,155,.7)), color-stop(65%, rgba(42,31,25,0)));
    background: -webkit-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
    background: -o-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
    background: -ms-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
    background: linear-gradient(to right, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=0.7 ); );
}



/*
========================
			3D Effect
========================
*/
#text3d {

}



.btn-now {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border-radius: 50px;
}
.btn-now:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.btn-now:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
.btn-now:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}
.btn-now:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}

@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
    background: #A0CBA4;
    font-family: 'Lobster', cursive;
}
.circle {
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background: #4E8953;
    margin-top: 150px;
}

h1 {
    color: #D5E2D6;
    text-align: center;
    line-height: 50px;
    margin-top: -350px;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    /*-----------------------*/
    text-shadow: 1px 1px #4A744D, 2px 2px #4A744D, 3px 3px #4A744D, 4px 4px #4A744D, 5px 5px #4A744D, 6px 6px #4A744D, 7px 7px #4A744D, 8px 8px #4A744D, 9px 9px #4A744D, 10px 10px #4A744D, 11px 11px #4A744D, 12px 12px #4A744D, 13px 13px #4A744D, 14px 14px #4A744D, 15px 15px #4A744D, 16px 16px #4A744D, 17px 17px #4A744D, 18px 18px #4A744D, 19px 19px #4A744D, 20px 20px #4A744D, 21px 21px #4A744D, 22px 22px #4A744D, 23px 23px #4A744D, 24px 24px #4A744D, 25px 25px #4A744D, 26px 26px 6px #06520C;

}

span:nth-child(3), span:nth-child(7) {
    font-size: 60px;
}

span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
    font-size: 110px;
}




