:root{
    --hauteur-menu: 60px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li:hover > a{
    color: #2169EC;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    color: skyblue;

}
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.4s linear forwards;
}

@keyframes rotationFleche {
    0% {

        transform: rotate(0deg);
    }
    50% {
        content: '❯❯';
        transform: rotate(45deg);
        color: cornflowerblue;
    }
    100%{
        content: '❯❯❯';
        transform: rotate(90deg);
        color: blue;

    }
}
.main_img{
    position: center;
    top: auto;
    left: 105px;
    height: 480px;
    width: 320px;
    color: WHITE;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    font-size: 26px;
    text-transform: capitalize;
    animation: time_animation;
    animation-duration: 2s;
    overflow: hidden;
    z-index: 9;
}

.head_img{
    width:100%;
}

@keyframes time_animation {

    0% {opacity:0.0;}
    16% {opacity:0.0;}
    25% {opacity:0.0;}
    33% {opacity:0.0;}
    67% {opacity:0.0;}
    75% {opacity:0.0;}
    84% {opacity:0.5;}
    100% {opacity:1.0;}

}


.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: white;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
        border-top: 3px solid #2169EC;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}

.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
}

.sous-menu > li:hover > a {
    color: white;
}





.background-img{

    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    position: relative;
}

.content h2{ font-size:19px;}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #111845a6;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}

.box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
}


.box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 134%;
    display: block;
    box-sizing: border-box;

}

.box span:nth-child(1)
{
    transform:rotate(0deg);
}

.box span:nth-child(2)
{
    transform:rotate(90deg);
}

.box span:nth-child(3)
{
    transform:rotate(180deg);
}

.box span:nth-child(4)
{
    transform:rotate(270deg);
}

.box span:before
{
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1%
    {
        transform:scaleX(1);
        transform-origin: right;

    }

    100%
    {
        transform:scaleX(0);
        transform-origin: right;

    }


}

/*style header*/

@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);


body { background: #000; color: #fff; position: relative;}

.chrome {
    position: relative;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-size: 200px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
}

.chrome:before {
    content: 'Mandrille84';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-position:-680px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    padding-right: 300px;
    -webkit-animation-name: chrome_effect;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.dreams {
    position: absolute;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 160px;
    color: #F975F7 ;
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); /* IE 9 */
    -webkit-transform:rotate(-15deg); /* Safari and Chrome */
    margin-left: 400px;
    margin-top: -120px;
    -webkit-text-stroke: 1px #f008b7;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    z-index: 20;
}

.windows .dreams {
    -webkit-text-stroke: 4px #f008b7;
}
@-webkit-keyframes chrome_effect {
    0% {background-position:-680px 0;}
    10% {background-position:420px 0;}
    100% {background-position:420px 0;}
}